---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/servicemonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: grafana
spec:
  endpoints:
    - honorLabels: true
      path: /metrics
      port: grafana
  jobLabel: grafana
  namespaceSelector:
    matchNames:
      - observability
  selector:
    matchLabels:
      grafana.internal/instance: grafana
