---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &current postgres
spec:
  affinity:
    nodeSelector:
      kubernetes.io/arch: amd64
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:${POSTGRESQL_VERSION}
  primaryUpdateStrategy: unsupervised
  storage:
    size: 50Gi
    storageClass: local-hostpath
  superuserSecret:
    name: postgres-superuser
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: "512MB"
    resources:
      requests:
        cpu: 500m
      limits:
        memory: 4Gi
  monitoring:
    enablePodMonitor: true