---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: youtube-dl
spec:
  chartRef:
    kind: OCIRepository
    name: youtube-dl
  interval: 1h
  values:
    controllers:
      youtube-dl:
        containers:
          app:
            env:
              YTDL_PORT: 80
              YTDL_DEFAULT_THEME: "dark"
            image:
              repository: ghcr.io/tzahi12345/youtubedl-material
              tag: 4.3.2@sha256:2f943d584711cb07c3535b518939fabb2ab90fdd7452d9a9938cd05378468ed9
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /
                    port: 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
    route:
      app:
        annotations:
          gethomepage.dev/description: Self-Hosted YouTube Downloader
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Tools
          gethomepage.dev/icon: youtube-dl.svg
          gethomepage.dev/name: YouTubeDL
        hostnames: ["ytdl.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    persistence:
      tmpfs:
        globalMounts:
          - path: /app
        type: emptyDir
    service:
      app:
        ports:
          http:
            port: 80
    serviceMonitor:
      app:
        endpoints:
          - port: http
