---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  interval: 1h
  values:
    crds:
      upgradeJob:
        enabled: true
    additionalPrometheusRulesMap:
      dockerhub-rules:
        groups:
          - name: dockerhub
            rules:
              - alert: DockerhubRateLimitRisk
                annotations:
                  summary: There are {{ $value }} containers pulling from Dockerhub. This may lead to rate limiting.
                expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
                labels:
                  severity: critical
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical
    alertmanager:
      alertmanagerSpec:
        alertmanagerConfiguration:
          name: alertmanager
        externalUrl: https://alertmanager.${SECRET_DOMAIN}
        podMetadata:
          app.kubernetes.io/name: alertmanager
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 1Gi
              storageClassName: local-hostpath
      route:
        main:
          annotations:
            gethomepage.dev/app: alertmanager
            gethomepage.dev/description: Manages and routes Prometheus alerts.
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Infrastructure
            gethomepage.dev/href: https://alertmanager.${SECRET_DOMAIN}
            gethomepage.dev/icon: prometheus.svg
            gethomepage.dev/name: Alertmanager
          enabled: true
          hostnames:
            - alertmanager.${SECRET_DOMAIN}
          parentRefs:
            - name: envoy-internal
              namespace: network
    cleanPrometheusOperatorObjectNames: true
    grafana:
      enabled: false
      forceDeployDashboards: true
      operator:
        dashboardsConfigMapRefEnabled: true
        folder: observability
        matchLabels:
          grafana.internal/instance: grafana
    kubeEtcd:
      service:
        selector:
          component: kube-apiserver
    kubePrometheusStack:
      prometheusRules:
        kubernetesApps:
          KubeHpaMaxedOut:
            enabled: true
            expr: |
              (kube_horizontalpodautoscaler_status_current_replicas
              ==
              kube_horizontalpodautoscaler_spec_max_replicas)
              and
              kube_horizontalpodautoscaler_spec_max_replicas > 1
    kubeProxy:
      enabled: false
    prometheus:
      prometheusSpec:
        externalUrl: https://prometheus.${SECRET_DOMAIN}
        image:
          registry: docker.io
          repository: prompp/prompp
          tag: 0.7.5@sha256:4edfa283276a56a60f7c159f3284b0db13fb3977f6e6fd9c399480b136bb54bb
        podMetadata:
          app.kubernetes.io/name: prometheus
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        resources:
          limits:
            memory: 2000Mi
          requests:
            cpu: 100m
            memory: 512Mi
        retention: 14d
        retentionSize: 50GB
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        securityContext:
          fsGroup: 64535
          runAsGroup: 64535
          runAsNonRoot: true
          runAsUser: 64535
        serviceMonitorSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 50Gi
              storageClassName: local-hostpath
        version: v2.55.1
      route:
        main:
          annotations:
            gethomepage.dev/app: prometheus
            gethomepage.dev/description: Monitoring system
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Infrastructure
            gethomepage.dev/href: https://prometheus.${SECRET_DOMAIN}
            gethomepage.dev/icon: prometheus.svg
            gethomepage.dev/name: Prometheus
            gethomepage.dev/widget.type: prometheus
            gethomepage.dev/widget.url: https://prometheus.${SECRET_DOMAIN}
          enabled: true
          hostnames: ["prometheus.${SECRET_DOMAIN}"]
          parentRefs:
            - name: envoy-internal
              namespace: network
    prometheus-node-exporter:
      fullnameOverride: node-exporter
