---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pgadmin
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      pgadmin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              TZ: Europe/Berlin
            envFrom:
              - secretRef:
                  name: pgadmin-secret
            image:
              repository: docker.io/dpage/pgadmin4
              tag: 9.11@sha256:50700ac17936d0227f9e3e4bb086a91efb67064debc4b4737c35545bf1564088
            resources:
              limits:
                memory: 320Mi
              requests:
                cpu: 15m
                memory: 150Mi
        pod:
          securityContext:
            fsGroup: 5050
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 5050
            runAsUser: 5050
        strategy: Recreate
    persistence:
      config:
        enabled: true
        existingClaim: pgadmin
        type: persistentVolumeClaim
    route:
      app:
        annotations:
          gethomepage.dev/description: PostgreSQL Tools
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Development
          gethomepage.dev/icon: pgadmin.png
          gethomepage.dev/name: PGAdmin
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
    service:
      app:
        controller: pgadmin
        ports:
          http:
            port: 80
