---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: onepassword-connect
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m
  values:
    controllers:
      onepassword-connect:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          api:
            env:
              OP_BUS_PEERS: localhost:11221
              OP_BUS_PORT: 11220
              OP_HTTP_PORT: 8080
              OP_SESSION:
                valueFrom:
                  secretKeyRef:
                    key: 1password-credentials.json
                    name: onepassword-secret
              XDG_DATA_HOME: /config
            image:
              repository: ghcr.io/1password/connect-api
              tag: 1.8.1@sha256:ac6e9efe4f54cc351393fcb8f01b10e667b08b68ff47ebf6024ff93eae642e5c
            probes:
              liveness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /heartbeat
                    port: 8080
                  initialDelaySeconds: 15
                  periodSeconds: 30
              readiness:
                custom: true
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: 8080
                  initialDelaySeconds: 15
            resources: &ref_1
              limits:
                memory: 256M
              requests:
                cpu: 10m
            securityContext: &ref_0
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
              readOnlyRootFilesystem: true
          sync:
            env:
              OP_BUS_PEERS: localhost:11220
              OP_BUS_PORT: 11221
              OP_HTTP_PORT: 8081
              OP_SESSION:
                valueFrom:
                  secretKeyRef:
                    key: 1password-credentials.json
                    name: onepassword-secret
              XDG_DATA_HOME: /config
            image:
              repository: ghcr.io/1password/connect-sync
              tag: 1.8.1@sha256:565e1765aff957379acbb46fab2b2d67380a149d70ef22507d05a5316a100052
            probes:
              liveness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /heartbeat
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 30
              readiness:
                custom: true
                enabled: true
                spec:
                  httpGet:
                    path: /health
                    port: 8081
                  initialDelaySeconds: 15
            resources: *ref_1
            securityContext: *ref_0
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        fsGroup: 999
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 999
        runAsNonRoot: true
        runAsUser: 999
    persistence:
      config:
        globalMounts:
          - path: /config
        type: emptyDir
    service:
      app:
        ports:
          http:
            port: 8080
