---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: velero
spec:
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: velero-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        cloud: |
          [default]
          aws_access_key_id={{ .S3_ACCESS_KEY }}
          aws_secret_access_key={{ .S3_SECRET_KEY }}
  dataFrom:
    - extract:
        key: s3-storage