---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app velero
spec:
  interval: 1h
  chart:
    spec:
      chart: velero
      version: 11.3.1
      sourceRef:
        kind: HelmRepository
        name: velero
        namespace: velero-system
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    image:
      repository: velero/velero
      tag: v1.17.1 # downgrade due to missing CRDs in helm chart
    kubectl:
      image:
        repository: bitnamilegacy/kubectl
        tag:  1.33.4

    upgradeJobResources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        memory: 512Mi

    deployNodeAgent: true

    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:v1.13.1
        imagePullPolicy: IfNotPresent
        volumeMounts:
          - mountPath: /target
            name: plugins

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      nodeAgentPodMonitor:
        enabled: true
      prometheusRule:
        enabled: true
        spec:
          - alert: VeleroBackupFailed
            annotations:
            message: Velero backup {{ $labels.schedule }} has failed
            expr: |-
              velero_backup_last_status{schedule!=""} != 1
            for: 15m
            labels:
              severity: warning
          - alert: VeleroBackupFailing
            annotations:
            message: Velero backup {{ $labels.schedule }} has been failing for the last 12h
            expr: |-
              velero_backup_last_status{schedule!=""} != 1
            for: 12h
            labels:
            severity: critical
          - alert: VeleroNoNewBackup
            annotations:
            message: Velero backup {{ $labels.schedule }} has not run successfully in the last 169h
            expr: |-
              (
              (time() - velero_backup_last_successful_timestamp{schedule!=""}) >bool (169 * 3600)
              or
              absent(velero_backup_last_successful_timestamp{schedule!=""})
              ) == 1
            for: 1h
            labels:
              severity: critical
          - alert: VeleroBackupPartialFailures
            annotations:
              message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} partialy failed backups
            expr: |-
              rate(velero_backup_partial_failure_total{schedule!=""}[25m])
                / rate(velero_backup_attempt_total{schedule!=""}[25m]) > 0.5
            for: 15m
            labels:
              severity: warning

    configuration:
      backupStorageLocation:
        - name: default
          provider: aws
          bucket: velero-backup-storage
          config:
            s3Url: https://${S3_BACKUP_ENDPOINT}
            s3ForcePathStyle: true
      volumeSnapshotLocation:
        - name: default
          provider: aws
          bucket: velero-volume-snapshot
          config:
            s3Url: https://${S3_BACKUP_ENDPOINT}
            s3ForcePathStyle: true
    uploaderType: restic
    logLevel: debug
    extraEnvVars:
      TZ: Europe/Berlin
    defaultVolumesToFsBackup: true

    credentials:
      existingSecret: velero-secret

    resources:
      requests:
        cpu: 100m
        memory: 64Mi
      limits:
        memory: 512Mi

    nodeAgent:
      resources:
        requests:
          cpu: 100m
          memory: 64Mi
        limits:
          memory: 1Gi

      privileged: true

      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule

    backupsEnabled: true
    snapshotsEnabled: false

    securityContext:
      fsGroup: 65534
      runAsGroup: 65534
      runAsNonRoot: true
      runAsUser: 65534
    schedules:
      weekly:
        schedule: '0 3 * * 0' # every sunday at 3am
        template:
          includedNamespaces:
            - '*'