---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app velero
spec:
  chart:
    spec:
      chart: velero
      version: '11.1.0'
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: OCIRepository
        name: velero
  install:
    crds: Skip
  upgrade:
    crds: Skip
  values:
    image:
      repository: velero/velero
      tag: v1.17.0 # downgrade due to missing CRDs in helm chart
    initContainers:
      - name: velero-plugin-for-aws
        image: velero/velero-plugin-for-aws:latest
        volumeMounts:
          - mountPath: /target
            name: plugins
    upgradeCRDs: false
    configuration:
      backupStorageLocation:
        - name: default
          provider: aws
          bucket: velero-infrastructure
          config:
            s3Url: https://${S3_BACKUP_ENDPOINT}
            s3ForcePathStyle: true
      uploaderType: restic
      logLevel: warning
      extraEnvVars:
        TZ: Europe/Berlin
      defaultVolumesToFsBackup: true
    extraObjects:
      - apiVersion: external-secrets.io/v1
        kind: ExternalSecret
        metadata:
          name: *app
        spec:
          secretStoreRef:
            kind: ClusterSecretStore
            name: onepassword
          target:
            name: velero-secrets-store
            template:
              data:
                aws_access_key_id: "{{ .S3_ACCESS_KEY }}"
                aws_secret_access_key: "{{ .S3_SECRET_KEY }}"

          dataFrom:
            - extract:
                key: s3-storage

  #   kind: SecretProviderClass
  #   metadata:
  #     name: velero-secrets-store
  #   spec:
  #     provider: aws
  #     parameters:
  #       objects: |
  #         - objectName: "velero"
  #           objectType: "secretsmanager"
  #           jmesPath:
  #               - path: "access_key"
  #                 objectAlias: "access_key"
  #               - path: "secret_key"
  #                 objectAlias: "secret_key"
  #     secretObjects:
  #       - data:
  #         - key: access_key
  #           objectName: client-id
  #         - key: client-secret
  #           objectName: client-secret
  #         secretName: velero-secrets-store
  #         type: Opaque
    credentials:
      useSecret: true
      existingSecret: velero-secrets-store
      #secretContents:
      #  cloud: |
      #    [default]
      #    aws_access_key_id=${VELERO_ACCESS_KEY}
      #    aws_secret_access_key=${VELERO_SECRET_KEY}
    backupsEnabled: true
    snapshotsEnabled: false
    deployNodeAgent: true
    schedules:
      weekly:
        schedule: '0 3 * * 0' # every sunday at 3am
        template:
          includedNamespaces:
            - '*'
  interval: 10m0s