---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: calibre-web-automated
spec:
  accessModes:
    - ReadWriteOnce
  dataSourceRef:
    kind: ReplicationDestination
    apiGroup: volsync.backube
    name: calibre-web-automated-dst
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-hostpath