---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: dragonfly
spec:
  podMetricsEndpoints:
    - port: admin
  podTargetLabels: [app]
  selector:
    matchLabels:
      app: dragonfly
