---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: sabnzbd
  namespace: downloads
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: sabnzbd
  components:
    - ../../../../components/ext-auth
    - ../../../../components/nfs-scaler
  dependsOn:
    - name: onepassword-connect
      namespace: kube-system
    - name: openebs
      namespace: openebs-system
    - name: authentik
      namespace: security
  interval: 1h
  path: ./kubernetes/apps/downloads/sabnzbd/app
  postBuild:
    substitute:
      APP: sabnzbd
      EXT_AUTH_APP: sabnzbd
      EXT_AUTH_TARGET_NAME: sabnzbd
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: downloads
  timeout: 5m
  wait: false
