---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: dragonfly
  namespace: dbms
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: dragonfly
  interval: 30m
  path: ./kubernetes/apps/dbms/dragonfly/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: dragonfly-cluster
  namespace: dbms
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: dragonfly-cluster
  dependsOn:
    - name: dragonfly
  interval: 30m
  path: ./kubernetes/apps/dbms/dragonfly/cluster
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  timeout: 5m
  wait: true
