---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: cloudnative-pg
  interval: 30m
  path: ./kubernetes/apps/dbms/cloudnative-pg/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  timeout: 5m
  wait: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg-cluster
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: cloudnative-pg-cluster
  dependsOn:
    - name: cloudnative-pg
    - name: cloudnative-pg-plugin-barman-cloud
    - name: openebs
      namespace: openebs-system
  interval: 1h
  path: ./kubernetes/apps/dbms/cloudnative-pg/cluster
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  wait: true
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudnative-pg-plugin-barman-cloud
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: cloudnative-pg-plugin-barman-cloud
  dependsOn:
    - name: cloudnative-pg
  interval: 30m
  path: ./kubernetes/apps/dbms/cloudnative-pg/plugin-barman-cloud
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  timeout: 5m
  wait: true
