---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg
spec:
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  path: ./kubernetes/apps/dbms/cloudnative-pg/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  targetNamespace: dbms
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cloudnative-pg-cluster
spec:
  dependsOn:
    - name: cloudnative-pg
    - name: openebs
      namespace: openebs-system
  interval: 1h
  path: ./kubernetes/apps/dbms/cloudnative-pg/cluster
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: dbms
  wait: true
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app