---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: litellm
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 1h
  values:
    controllers:
      litellm:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            args:
              - "--config"
              - /app/config.yaml
              - "--host"
              - "0.0.0.0"
              - "--port"
              - "4000"
            env:
              LITELLM_DONT_SHOW_FEEDBACK_BOX: "True"
              LITELLM_MODE: PRODUCTION
              #QDRANT_API_BASE: http://qdrant.ai.svc.cluster.local:6333
              REDIS_HOST: dragonfly.dbms.svc.cluster.local
              STORE_MODEL_IN_DB: true
              TZ: Europe/Berlin
              HOME: "/.cache"
              PRISMA_HOME_DIR: "/.cache"
              PRISMA_BINARY_CACHE_DIR: "/.cache/"
              USE_PRISMA_MIGRATE: "True"
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            image:
              repository: ghcr.io/berriai/litellm
              tag: v1.80.8-stable@sha256:9005bc060d495917bc901b2d34a720a58035f284ef7a375d561dffab6f5e59f5
            probes:
              liveness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /health/liveliness
                    port: 4000
                  initialDelaySeconds: 30
                  periodSeconds: 60
                  timeoutSeconds: 10
              readiness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /health/readiness
                    port: 4000
                  initialDelaySeconds: 5
                  periodSeconds: 5
                  timeoutSeconds: 5
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 10m
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        initContainers:
          init-db:
            envFrom: *envFrom
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        runAsGroup: 1000
        runAsUser: 1000
    persistence:
      cache:
        globalMounts:
          - path: /.cache
            subPath: cache
          - path: /.npm
            subPath: npm
          - path: /tmp
            subPath: tmp
        type: emptyDir
      prisma-root-cache:
        type: emptyDir
        globalMounts:
          - path: /root/.cache
      config:
        globalMounts:
          - path: /app/config.yaml
            subPath: config.yaml
        name: litellm-configmap
        type: configMap
      config-dir:
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: local-hostpath
        globalMounts:
          - path: /.config
      prisma-client:
        globalMounts:
          - path: /usr/lib/python3.13/site-packages/litellm_proxy_extras/migrations
        type: emptyDir
    route:
      main:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    service:
      app:
        controller: litellm
        ports:
          http:
            port: 80
            targetPort: 4000
