---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metrics-server
spec:
  chartRef:
    kind: OCIRepository
    name: metrics-server
  interval: 1h
  values:
    args:
      - "--kubelet-insecure-tls"
      - "--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname"
      - "--kubelet-request-timeout=2s"
      - "--kubelet-use-node-status-port"
      - "--metric-resolution=10s"
    metrics:
      enabled: true
    serviceMonitor:
      enabled: true
