# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: jellyfin2
spec:
  interval: 1h
  path: ./kubernetes/apps/default/jellyfin2/app
  dependsOn:
    - name: intel-device-plugin
      namespace: kube-system
    - name: openebs
      namespace: openebs-system
  postBuild:
    substitute:
      APP: jellyfin2
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: default
  wait: false
