# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app navidrome
  namespace: &namespace self-hosted
spec:
  interval: 1h
  path: ./kubernetes/apps/self-hosted/navidrome/app
  components:
    - ../../../../components/nfs-scaler
    - ../../../../components/ext-auth
  postBuild:
    substitute:
      EXT_AUTH_APP: *app
      EXT_AUTH_TARGET_NAME: *app
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: false