# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      open-webui:
        strategy: RollingUpdate
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
            envFrom: &envFrom
              - secretRef:
                  name: open-webui-secret
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: 0.6.43@sha256:9cb724e0bc84f05ba2f81a3da5f53f5add07e1001065d83f3b6b70b9a9eeef19
            env:
              # Open-webui settings
              WEBUI_URL: https://chat.${SECRET_DOMAIN}
              DEFAULT_LOCALE: de
              DATABASE_TYPE: postgresql
              ENABLE_OPENAI_API: True
              ENABLE_OLLAMA_API: False
              ENABLE_RAG_WEB_SEARCH: True
              ENABLE_SEARCH_QUERY: True
              RAG_WEB_SEARCH_ENGINE: tavily
              #SEARXNG_QUERY_URL: http://searxng:8080/search?q=<query>
              ENABLE_WEBSOCKET_SUPPORT: True
              ENABLE_VERSION_UPDATE_CHECK: False
              WEBSOCKET_MANAGER: redis
              WEBSOCKET_REDIS_URL: redis://dragonfly.dbms.svc.cluster.local:6379/6
              # Auth
              ENABLE_OAUTH_SIGNUP: True
              OAUTH_MERGE_ACCOUNTS_BY_EMAIL: True
              OAUTH_PROVIDER_NAME: t-node
              OAUTH_PICTURE_CLAIM: avatar
              ENABLE_OAUTH_ROLE_MANAGEMENT: True
              ENABLE_OAUTH_GROUP_MANAGEMENT: True
              ENABLE_OAUTH_GROUP_CREATION: True
              OAUTH_ALLOWED_ROLES: "users, admin"
              OAUTH_ADMIN_ROLES: admin
              OAUTH_ROLES_CLAIM: groups
              OAUTH_SCOPES: "openid email profile avatar"
              DEFAULT_USER_ROLE: user
              ENABLE_LOGIN_FORM: False
              OAUTH_UPDATE_PICTURE_ON_LOGIN: True
              # Image Generation
              ENABLE_IMAGE_GENERATION: False
              IMAGE_GENERATION_ENGINE: automatic1111
              IMAGE_GENERATION_MODEL: dreamshaper_8
              IMAGE_SIZE: 400x400
              IMAGE_STEPS: 8
              AUTOMATIC1111_BASE_URL: http://sdnext:7860/
              AUTOMATIC1111_CFG_SCALE: 2
              AUTOMATIC1111_SAMPLER: DPM++ SDE
              AUTOMATIC1111_SCHEDULER: Karras
            envFrom: *envFrom
            resources:
              requests:
                cpu: 500m
                memory: 512Mi
              limits:
                memory: 2Gi

    service:
      app:
        controller: open-webui
        ports:
          http:
            port: &port 80
            targetPort: 8080

    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Interact with your AI models
          gethomepage.dev/group: AI
          gethomepage.dev/icon: sh-open-webui.svg
          gethomepage.dev/name: Open WebUI
          gethomepage.dev/app: open-webui
        hostnames: ["chat.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        storageClass: local-hostpath
        accessMode: ReadWriteOnce
        size: 2G
        globalMounts:
          - path: /app/backend/data
      tmpfs:
        type: emptyDir
        advancedMounts:
          open-webui:
            app:
              - path: /tmp
                subPath: tmp