---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: authentik-media
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: "5Gi"
  storageClassName: local-hostpath