---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: smtp-relay
spec:
  chartRef:
    kind: OCIRepository
    name: smtp-relay
  interval: 1h
  values:
    configMaps:
      config:
        data:
          maddy.conf: |-
            state_dir /cache/state
            runtime_dir /cache/run
            tls off
            hostname {env:SMTP_RELAY_HOSTNAME}
            smtp tcp://0.0.0.0:{env:SMTP_RELAY_SMTP_PORT} {
                default_source {
                    deliver_to &remote_queue
                }
            }
            target.queue remote_queue {
                target &remote_smtp
            }
            target.smtp remote_smtp {
                starttls yes
                auth plain {env:SMTP_RELAY_USERNAME} {env:SMTP_RELAY_PASSWORD}
                targets tcp://{env:SMTP_RELAY_SERVER}:587
            }
    controllers:
      smtp-relay:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              SMTP_RELAY_SMTP_PORT: 25
              TZ: Europe/Berlin
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            image:
              repository: ghcr.io/foxcpp/maddy
              tag: 0.8.1@sha256:55636d8a29588eea62d81d51acdafe38e0f694fb91801ab12dc1ed8c47b6439d
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              limits:
                memory: 64Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        replicas: 2
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
    persistence:
      cache:
        type: emptyDir
      config-file:
        globalMounts:
          - path: /data/maddy.conf
            subPath: maddy.conf
        identifier: config
        type: configMap
    service:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: smtp.${SECRET_DOMAIN}
          lbipam.cilium.io/ips: 192.168.178.129
        externalTrafficPolicy: Local
        ports:
          smtp:
            port: 25
        type: LoadBalancer
