---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: lldap
spec:
  dependsOn:
    - name: cloudnative-pg
      namespace: flux-system
  interval: 1h
  path: ./kubernetes/apps/kube-system/lldap/app
  postBuild:
    substitute:
      APP: lldap

    substituteFrom:
      - name: cluster-secrets
        kind: Secret
      - name: postgres-app
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: kube-system
  wait: true