---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: spegel
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: spegel
  interval: 30m
  path: ./kubernetes/apps/kube-system/spegel/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: kube-system
  timeout: 5m
  wait: false
