---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./echo/ks.yaml
  - ./ai-api/ks.yaml
  - ./gitea/ks.yaml
  - ./smtp-relay/ks.yaml
  - ./jellyfin/ks.yaml