---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prowlarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: prowlarr-secret
    template:
      data:
        # Prowlarr
        PROWLARR__AUTH__APIKEY: "{{ .PROWLARR_API_KEY }}"
        PROWLARR__POSTGRES__HOST: &postgres_host postgres.${SECRET_DOMAIN}
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__MAINDB: "{{ .POSTGRES_DB }}"
        PROWLARR__POSTGRES__USER: "{{ .POSTGRES_USER }}"
        PROWLARR__POSTGRES__PASSWORD: "{{ .POSTGRES_PASS }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: "{{ .POSTGRES_DB }}"
        INIT_POSTGRES_HOST: *postgres_host
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_USER: "{{ .POSTGRES_SUPER_USER }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: prowlarr
    - extract:
        key: postgres