---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-tunnel
spec:
  chartRef:
    kind: OCIRepository
    name: cloudflare-tunnel
  interval: 1h
  values:
    configMaps:
      config:
        data:
          config.yaml: |-
            ingress:
              - hostname: "*.${SECRET_DOMAIN}"
                originRequest:
                  http2Origin: true
                  originServerName: external.${SECRET_DOMAIN}
                service: https://envoy-external.{{ .Release.Namespace }}.svc.cluster.local:443
              - service: http_status:404
    controllers:
      cloudflare-tunnel:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            args: ["tunnel", "run"]
            env:
              NO_AUTOUPDATE: true
              TUNNEL_METRICS: 0.0.0.0:8080
              TUNNEL_POST_QUANTUM: true
              TUNNEL_TRANSPORT_PROTOCOL: quic
            envFrom:
              - secretRef:
                  name: cloudflare-tunnel-secret
            image:
              repository: docker.io/cloudflare/cloudflared
              tag: 2026.2.0
            probes:
              liveness: &ref_0
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /ready
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *ref_0
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
    persistence:
      config-file:
        globalMounts:
          - path: /etc/cloudflared/config.yaml
            subPath: config.yaml
        identifier: config
        type: configMap
    service:
      app:
        ports:
          http:
            port: 8080
    serviceMonitor:
      app:
        endpoints:
          - port: http
