---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &current postgres
spec:
  affinity:
    nodeSelector:
      kubernetes.io/arch: amd64
  instances: 2
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1@sha256:765687b22589dd52a2de969c245d7e2b0667f8ab1aa29a9f70d6254f4a7208e0
  primaryUpdateStrategy: unsupervised
  storage:
    size: 50Gi
    storageClass: local-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "300"
      shared_buffers: "512MB"
  resources:
    requests:
      cpu: 500m
      memory: 512M
    limits:
      memory: 1Gi
  monitoring:
    enablePodMonitor: true