---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
  namespace: dbms
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudnative-pg-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      metadata:
        labels:
          cnpg.io/reload: "true"
  data:
    - secretKey: username
      remoteRef:
        key: cloudnative-pg
        property: POSTGRES_SUPER_USER
    - secretKey: password
      remoteRef:
        key: cloudnative-pg
        property: POSTGRES_SUPER_PASS
    - secretKey: access-key-id
      remoteRef:
        key: cloudnative-pg
        property: POSTGRESQL_ACCESS_KEY_ID
    - secretKey: secret-access-key
      remoteRef:
        key: cloudnative-pg
        property: POSTGRESQL_SECRET_ACCESS_KEY
    - secretKey: REGION
      remoteRef:
        key: cloudnative-pg
        property: POSTGRESQL_REGION