---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  chart:
    spec:
      chart: cloudnative-pg
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: cloudnative-pg
        namespace: dbms
      version: 0.26.1
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 15m
  maxHistory: 2
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    crds:
      create: true
