---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: lldap
spec:
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/security/lldap/app
  postBuild:
    substitute:
      APP: lldap
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: security
  wait: true