---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd/helm-controller/main/config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: loki
      interval: 15m
      version: 6.46.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: observability
  interval: 30m
  timeout: 15m
  values:
    backend:
      replicas: 0
    chunksCache:
      enabled: false
    deploymentMode: SingleBinary
    gateway:
      replicas: 0
    loki:
      analytics:
        reporting_enabled: false
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      compactor:
        delete_request_store: filesystem
        retention_enabled: true
        working_directory: /var/loki/compactor/retention
      ingester:
        chunk_encoding: snappy
      limits_config:
        retention_period: 14d
      schemaConfig:
        configs:
          - from: "2024-04-01"
            index:
              period: 24h
              prefix: loki_index_
            object_store: filesystem
            schema: v13
            store: tsdb
      server:
        log_level: info
      storage:
        type: filesystem
    lokiCanary:
      enabled: false
    read:
      replicas: 0
    resultsCache:
      enabled: false
    sidecar:
      image:
        repository: ghcr.io/home-operations/k8s-sidecar
        tag: 1.30.9@sha256:74d65c3def9276b24b5bfe41f8efb773174e7a1ecf3c9b5a31bd02cfdee232c9
      rules:
        searchNamespace: ALL
    singleBinary:
      persistence:
        enabled: true
        size: 30Gi
        storageClass: local-hostpath
      replicas: 1
    test:
      enabled: false
    write:
      replicas: 0
