---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd/helm-controller/main/config/crd/bases/helm.toolkit.fluxcd.io_helmreleases.yaml
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: loki
spec:
  chart:
    spec:
      chart: loki
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
      version: 6.21.0
  install:
    remediation:
      retries: 3
  interval: 30m
  timeout: 15m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    backend:
      replicas: 0
    chunksCache:
      enabled: false
    deploymentMode: SingleBinary
    gateway:
      replicas: 0
    loki:
      analytics:
        reporting_enabled: false
      auth_enabled: false
      commonConfig:
        replication_factor: 1
      compactor:
        delete_request_store: filesystem
        retention_enabled: true
        working_directory: /var/loki/compactor/retention
      ingester:
        chunk_encoding: snappy
      limits_config:
        retention_period: 14d
      schemaConfig:
        configs:
          - from: "2024-04-01"
            index:
              period: 24h
              prefix: loki_index_
            object_store: filesystem
            schema: v13
            store: tsdb
      server:
        log_level: info
      storage:
        type: filesystem
    lokiCanary:
      enabled: false
    read:
      replicas: 0
    resultsCache:
      enabled: false
    sidecar:
      image:
        repository: ghcr.io/home-operations/k8s-sidecar
        tag: 2.3.0@sha256:54456f7c973db6bfa6a12e53bb708402a1188366c39720f766ad9fe92ca6373b
      rules:
        searchNamespace: ALL
    singleBinary:
      persistence:
        enabled: true
        size: 30Gi
        storageClass: local-hostpath
      replicas: 1
    test:
      enabled: false
    write:
      replicas: 0
