---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openebs
  namespace: openebs-system
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: openebs
  interval: 30m
  path: ./kubernetes/apps/openebs-system/openebs/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: openebs-system
  timeout: 5m
  wait: false
