---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app adguard-dns
spec:
  chartRef:
    kind: OCIRepository
    name: adguard-dns
  interval: 1h
  values:
    fullnameOverride: *app
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.1@sha256:632b994809f0f906ab4414b337b15ac4d0f5515f7a5de8bfbb5da29ccb6526ee
          pullPolicy: IfNotPresent
        service:
          port: 8888
        env:
          - name: ADGUARD_URL
            valueFrom:
              secretKeyRef:
                name: &secret adguard-dns-secret
                key: ADGUARD_HOME_URL
          - name: ADGUARD_USER
            valueFrom:
              secretKeyRef:
                name: *secret
                key: ADGUARD_HOME_USER
          - name: ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: *secret
                key: ADGUARD_HOME_PASS
          - name: LOG_LEVEL
            value: debug
        securityContext:
          runAsUser: 1000
          runAsNonRoot: true
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
    triggerLoopOnEvent: true
    policy: sync
    rbac:
      create: true
      additionalPermissions: []
    serviceAccount:
      create: true
      name: external-dns
    sources:
      - gateway-httproute
      - service
    #txtOwnerId: main
    #txtPrefix: k8s.main.
    domainFilters:
      - ${SECRET_DOMAIN}
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret