---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-dns
spec:
  chartRef:
    kind: OCIRepository
    name: adguard-dns
  interval: 1h
  values:
    domainFilters:
      - ${SECRET_DOMAIN}
    fullnameOverride: adguard-dns
    podAnnotations:
      secret.reloader.stakater.com/reload: adguard-dns-secret
    policy: sync
    provider:
      name: webhook
      webhook:
        env:
          - name: ADGUARD_URL
            valueFrom:
              secretKeyRef:
                key: ADGUARD_URL
                name: adguard-dns-secret
          - name: ADGUARD_USER
            valueFrom:
              secretKeyRef:
                key: ADGUARD_USER
                name: adguard-dns-secret
          - name: ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                key: ADGUARD_PASSWORD
                name: adguard-dns-secret
          - name: LOG_LEVEL
            value: debug
        image:
          pullPolicy: IfNotPresent
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.1@sha256:632b994809f0f906ab4414b337b15ac4d0f5515f7a5de8bfbb5da29ccb6526ee
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 5
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 1000
        service:
          port: 8888
    rbac:
      additionalPermissions: []
      create: true
    serviceAccount:
      create: true
      name: external-dns
    serviceMonitor:
      enabled: true
    sources:
      - gateway-httproute
      - service
    triggerLoopOnEvent: true
