---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

endpoints:
  - name: Cloudflare
    group: connectivity
    url: icmp://1.1.1.1
    interval: 1m
    conditions:
      - "[CONNECTED] == true"

metrics: true

storage:
  type: sqlite
  caching: true
  path: ${GATUS_CONFIG_PATH}/gatus.db

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/13345912
  link: https://github.com/charming-byte
  buttons:
    - name: Github
      link: https://github.com/charming-byte
    - name: Homelab
      link: https://github.com/charming-byte/homelab

web:
  port: ${GATUS_WEB_PORT}