---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
spec:
  chartRef:
    kind: OCIRepository
    name: spegel
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    grafanaDashboard:
      enabled: true
      grafanaOperator:
        matchLabels:
          grafana.internal/instance: grafana
      mode: GrafanaOperator
    service:
      registry:
        hostPort: 29999
    serviceMonitor:
      enabled: true
    spegel:
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
      containerdSock: /run/containerd/containerd.sock
