---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin2-cache
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 20Gi
  storageClassName: local-hostpath