---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: miniflux
spec:
  chartRef:
    kind: OCIRepository
    name: miniflux
  interval: 10m
  values:
    controllers:
      miniflux:
        containers:
          app:
            env:
              TZ: Europe/Berlin
              RUN_MIGRATIONS: "1"
              POLLING_SCHEDULER: entry_frequency
              CREATE_ADMIN: "0"
              AUTH_PROXY_HEADER: x-authentik-username
              TRUSTED_REVERSE_PROXY_NETWORKS: 10.42.0.0/16
              AUTH_PROXY_USER_CREATION: "1"
              DISABLE_LOCAL_AUTH: "true"
            envFrom: &envFrom
              - secretRef:
                  name: miniflux-secret
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.2.17@sha256:802ab7d045826d047883476e2310bf59f5d9b3875f7a8106fa0c43638d01fd64
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /liveness
                    port: 8080
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness:
                <<: *probes
                path: /readiness
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        initContainers:
          init-db:
            envFrom: *envFrom
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
    route:
      app:
        annotations:
          gethomepage.dev/app: miniflux
          gethomepage.dev/description: Feed Reader
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Self-hosted
          gethomepage.dev/icon: miniflux.svg
          gethomepage.dev/name: Miniflux
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 8080
    service:
      app:
        ports:
          http:
            port: 8080
