# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: openclaw
spec:
  chartRef:
    kind: OCIRepository
    name: openclaw
  interval: 10m
  values:
    controllers:
      echo:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/openclaw/openclaw
              tag: 2026.2.15@sha256:20fb8df4e6c6d893de5b8445394583258fdf0f98179e82cdfa24062c6bed5de0
            env:
              TZ: "Europe/Berlin"
              OPENCLAW_DISABLE_BONJOUR: 1
              OPENCLAW_GATEWAY_BIND: "lan"
            envFrom:
              - secretRef:
                  name: openclaw-secret
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /
                    port: 18789
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 2Gi
              requests:
                cpu: 10m
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 18789
    service:
      app:
        ports:
          http:
            port: 18789
    persistence:
      tmp:
        enabled: true
        type: emptyDir
      config:
        enabled: true
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: local-hostpath
        globalMounts:
          - path: /home/node
