---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  chartRef:
    kind: OCIRepository
    name: plex
  interval: 1h
  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              PLEX_ADVERTISE_URL: https://plex.${SECRET_DOMAIN}:443,http://192.168.178.128:32400,http://plex.default.svc.cluster.local:32400
              PLEX_NO_AUTH_NETWORKS: 192.168.178.0/24
              TZ: Europe/Berlin
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            probes:
              liveness: &ref_0
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /identity
                    port: 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *ref_0
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              claims:
                - name: gpu
              limits:
                memory: 14Gi
              requests:
                cpu: 100m
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add: ["SYS_ADMIN"]
                drop: ["ALL"]
              readOnlyRootFilesystem: true
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: plex
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
    persistence:
      config:
        accessMode: ReadWriteOnce
        enabled: true
        size: 50G
        storageClass: local-hostpath
        type: persistentVolumeClaim
      media:
        globalMounts:
          - path: /media
            readOnly: true
        path: /media
        server: nas.internal
        type: nfs
      media2:
        globalMounts:
          - path: /data2
            readOnly: true
        path: /collection
        server: nas.internal
        type: nfs
      tmp:
        type: emptyDir
    route:
      app:
        annotations:
          gethomepage.dev/description: Media Server
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/href: https://plex.${SECRET_DOMAIN}
          gethomepage.dev/icon: plex.png
          gethomepage.dev/name: Plex
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_PLEX_API_KEY}}`}}"
          gethomepage.dev/widget.type: plex
          gethomepage.dev/widget.url: http://plex.media:32400
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 401"]
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 32400
    service:
      app:
        annotations:
          lbipam.cilium.io/ips: 192.168.178.128
        externalTrafficPolicy: Local
        ports:
          http:
            port: 32400
        type: LoadBalancer
