---
apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: plex
spec:
  spec:
    devices:
      requests:
        - exactly:
            deviceClassName: gpu.intel.com
          name: gpu
