---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bentopdf
  namespace: self-hosted
spec:
  interval: 1h
  path: ./kubernetes/apps/self-hosted/bentopdf/app
  postBuild:
    substitute:
      APP: bentopdf
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  wait: false
