---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: open-webui
  namespace: self-hosted
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: open-webui
  dependsOn:
    - name: cloudnative-pg-cluster
      namespace: dbms
    - name: dragonfly-cluster
      namespace: dbms
    - name: onepassword-connect
      namespace: kube-system
    - name: openebs
      namespace: openebs-system
  interval: 1h
  path: ./kubernetes/apps/self-hosted/open-webui/app
  postBuild:
    substitute:
      APP: open-webui
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  timeout: 5m
  wait: false
