---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: envoy-external
  annotations:
    external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
spec:
  gatewayClassName: envoy
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: external.${SECRET_DOMAIN}
      lbipam.cilium.io/ips: "192.168.178.203"
      gatus.home-operations.com/endpoint: |-
        client:
          dns-resolver: tcp://1.1.1.1:53
        group: external
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: ${SECRET_DOMAIN/./-}-production-tls
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: envoy-internal
  annotations:
    external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
    gatus.home-operations.com/endpoint: |-
      group: internal
      guarded: true
      ui:
        hide-hostname: true
        hide-url: true
      alerts:
        - type: discord
          description: health-check failed
spec:
  gatewayClassName: envoy
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: internal.${SECRET_DOMAIN}
      lbipam.cilium.io/ips: "192.168.178.250"
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: ${SECRET_DOMAIN/./-}-production-tls
    # - name: git-ssh
    #   protocol: TCP
    #   port: 22
    #   allowedRoutes:
    #     namespaces:
    #       from: Selector
    #       selector:
    #         matchLabels:
    #           kubernetes.io/metadata.name: default
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: envoy
spec:
  logging:
    level:
      default: info
  provider:
    kubernetes:
      envoyDeployment:
        container:
          imageRepository: mirror.gcr.io/envoyproxy/envoy
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 100m
        replicas: 2
      envoyService:
        externalTrafficPolicy: Cluster
    type: Kubernetes
  shutdown:
    drainTimeout: 180s
  telemetry:
    metrics:
      prometheus:
        compression:
          type: Zstd

---
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: envoy
spec:
  controllerName: gateway.envoyproxy.io/gatewayclass-controller
  parametersRef:
    group: gateway.envoyproxy.io
    kind: EnvoyProxy
    name: envoy
    namespace: network

---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: envoy
spec:
  compressor:
    - type: Zstd
      zstd: {}
    - type: Brotli
      brotli: {}
    - type: Gzip
      gzip: {}
  retry:
    numRetries: 2
    retryOn:
      triggers:
        - reset
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
  tcpKeepalive: {}
  timeout:
    http:
      requestTimeout: 0s

---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: BackendTrafficPolicy
metadata:
  name: response-override-error-pages
  namespace: network
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: envoy-external
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: envoy-internal
  responseOverride:
    - match:
        statusCodes: [{ type: Value, value: 400 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "400" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/400.html

    - match:
        statusCodes: [{ type: Value, value: 401 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "401" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/401.html

    - match:
        statusCodes: [{ type: Value, value: 403 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "403" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/403.html

    - match:
        statusCodes: [{ type: Value, value: 404 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "404" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/404.html

    - match:
        statusCodes: [{ type: Value, value: 429 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "429" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/429.html

    - match:
        statusCodes: [{ type: Value, value: 500 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "500" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/500.html

    - match:
        statusCodes: [{ type: Value, value: 502 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "502" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/502.html

    - match:
        statusCodes: [{ type: Value, value: 503 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "503" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/503.html

    - match:
        statusCodes: [{ type: Value, value: 504 }]
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "504" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/504.html
    - match:
        statusCodes:
          - type: Range
            range: { start: 501, end: 511 }
      status: 302
      response:
        responseHeaderModifier:
          add: [{ name: X-Code, value: "500" }]
          set:
            - name: Location
              value: https://error-pages.${SECRET_DOMAIN}/500.html


---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: ClientTrafficPolicy
metadata:
  name: envoy
spec:
  clientIPDetection:
    xForwardedFor:
      trustedCIDRs:
        - 10.42.0.0/16
  http2:
    onInvalidMessage: TerminateStream
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: Gateway
  tcpKeepalive: {}
  timeout:
    http:
      requestReceivedTimeout: 0s
  tls:
    alpnProtocols:
      - h2
      - http/1.1
    minVersion: "1.2"

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  annotations:
    external-dns.alpha.kubernetes.io/controller: none
  name: https-redirect
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: http
    - name: envoy-internal
      namespace: network
      sectionName: http
  rules:
    - filters:
        - requestRedirect:
            scheme: https
            statusCode: 301
          type: RequestRedirect
