---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: envoy-gateway
spec:
  chartRef:
    kind: OCIRepository
    name: envoy-gateway
  interval: 1h
  values:
    config:
      envoyGateway:
        provider:
          kubernetes:
            deploy:
              type: GatewayNamespace
          type: Kubernetes
    global:
      imageRegistry: mirror.gcr.io
