---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kromgo
spec:
  chartRef:
    kind: OCIRepository
    name: kromgo
  interval: 1h
  values:
    controllers:
      kromgo:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              HEALTH_PORT: 8080
              PROMETHEUS_URL: http://prometheus-operated.observability.svc.cluster.local:9090
              SERVER_PORT: 80
            image:
              repository: ghcr.io/kashalls/kromgo
              tag: v0.7.4@sha256:464dfa398fc0d032cffbd8396a1993f2690917b847f6628159c6d9fe3cba9055
            probes:
              liveness: &ref_0
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /readyz
                    port: 8080
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *ref_0
            resources:
              limits:
                memory: 64Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
    persistence:
      config-file:
        globalMounts:
          - path: /kromgo/config.yaml
            subPath: config.yaml
        name: kromgo-configmap
        type: configMap
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 80
    service:
      app:
        ports:
          health:
            port: 8080
          http:
            port: 80
