---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  interval: 30m
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      homepage:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              HOMEPAGE_ALLOWED_HOSTS: "{{ .Release.Name }}.${SECRET_DOMAIN}"
              LOG_TARGETS: stdout
              TZ: Europe/Berlin
            envFrom:
              - secretRef:
                  name: homepage-secret
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.9.0@sha256:7fa7b07a26bd8d90a44bb975c6455b10d8dee467ce674b040750ffb4a0f486d6
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes
              startup: *probes
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 15m
                memory: 128Mi
        replicas: 1
        strategy: RollingUpdate
    persistence:
      config:
        enabled: true
        globalMounts:
          - path: /app/config/bookmarks.yaml
            subPath: bookmarks.yaml
          - path: /app/config/docker.yaml
            subPath: docker.yaml
          - path: /app/config/kubernetes.yaml
            subPath: kubernetes.yaml
          - path: /app/config/services.yaml
            subPath: services.yaml
          - path: /app/config/settings.yaml
            subPath: settings.yaml
          - path: /app/config/widgets.yaml
            subPath: widgets.yaml
        name: homepage-config
        type: configMap
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - name: homepage
                port: 3000
    service:
      app:
        controller: homepage
        ports:
          http:
            port: 3000
    serviceAccount:
      homepage: {}
