---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app slskd
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    configMaps:
      config:
        data:
          slskd.yml: |-
            web:
              authentication:
                api_keys:
                  soularr:
                    key: ${SLSKD_API_KEY_SOULARR}
                    role: Administrator
                    cidr: 10.42.0.0/16
                  homepage_widget:
                    key: ${SLSKD_API_KEY_HOMEPAGE}
                    role: readonly
                    cidr: 10.42.0.0/16
            global:
              upload:
                slots: 10
                speed_limit: 1500
              download:
                slots: 500
            directories:
              downloads: /media/downloads/soulseek/complete
              incomplete: /media/downloads/soulseek/incomplete
            permissions:
              file:
                mode: 750
            shares:
              directories:
                - /media/media/audio
              filters:
                - \.ini$
                - Thumbs.db$
                - \.DS_Store$
    controllers:
      slskd:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
              SLSKD_APP_DIR: /config
              SLSKD_HTTP_PORT: &port 80
              SLSKD_NO_AUTH: true
              SLSKD_NO_HTTPS: true
              SLSKD_NO_VERSION_CHECK: true
              SLSKD_SLSK_LISTEN_PORT: 50429
              TZ: Europe/Berlin
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            image:
              repository: ghcr.io/slskd/slskd
              tag: 0.24.2@sha256:b6fccf491218260f31ec33a3a18fc634bb634d888dc1f619af5d90b4937c4d88
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 10m
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ["ALL"] }
              readOnlyRootFilesystem: true
        initContainers:
          gluetun:
            env:
              DNS_KEEP_NAMESERVER: "off"
              DOT: "on"
              TZ: Europe/Berlin
              UPDATER_PERIOD: 24h
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            ports:
              - containerPort: 80
                name: http
                protocol: TCP
            probes:
              liveness:
                custom: true
                enabled: true
                spec:
                  exec:
                    command:
                      - sh
                      - -c
                      - "ping -c 1 $(echo $WIREGUARD_ADDRESSES | cut -d'/' -f1)"
                  failureThreshold: 3
                  initialDelaySeconds: 10
                  periodSeconds: 15
                  timeoutSeconds: 2
              readiness:
                custom: true
                enabled: true
                spec:
                  exec:
                    command:
                      - sh
                      - -c
                      - "ping -c 1 $(echo $WIREGUARD_ADDRESSES | cut -d'/' -f1)"
                  failureThreshold: 3
                  initialDelaySeconds: 5
                  periodSeconds: 3
                  timeoutSeconds: 2
            restartPolicy: Always
            securityContext:
              capabilities:
                add: ["NET_ADMIN"]
              privileged: true
              runAsGroup: 0
              runAsNonRoot: false
              runAsUser: 0
        statefulset:
          volumeClaimTemplates:
            - accessMode: ReadWriteOnce
              name: config
              size: 5Gi
              storageClass: local-hostpath
        type: statefulset
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
    persistence:
      config-file:
        globalMounts:
          - path: /config/slskd.yml
            subPath: slskd.yml
        identifier: config
        type: configMap
      media:
        globalMounts:
          - path: /media
        path: /media-root
        server: nas.internal
        type: nfs
      tmp:
        type: emptyDir
    route:
      slskd:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: slskd.png
          gethomepage.dev/name: Slskd
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_SLSKD_API_KEY}}`}}"
          gethomepage.dev/widget.type: slskd
          gethomepage.dev/widget.url: http://slskd.downloads
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: *app
                port: *port
    service:
      slskd:
        controller: *app
        ports:
          http:
            port: *port
