---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: openclaw
  namespace: self-hosted
spec:
  commonMetadata:
  dependsOn:
    - name: onepassword-connect
      namespace: kube-system
    - name: openebs
      namespace: openebs-system
  interval: 1h
  path: ./kubernetes/apps/self-hosted/openclaw/app
  postBuild:
    substitute:
      APP: openclaw
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  retryInterval: 2m
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  timeout: 5m
  wait: false
