---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  chartRef:
    kind: OCIRepository
    name: home-assistant
  interval: 10m
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.2.1@sha256:79f5a2e8d0aa2b8a7dcfbc4fe7e0930321248724bce219d97acf9f5ce7ff854b
            env:
              TZ: Europe/Berlin
            envFrom: &envFrom
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /
                    port: 8123
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
            args:
              [
                "--auth",
                "none",
                "--disable-telemetry",
                "--disable-update-check",
                "--user-data-dir",
                "/config/.vscode",
                "--extensions-dir",
                "/config/.vscode",
                "--port",
                "8080",
                "/config"
              ]
            env:
              TZ: "Europe/Berlin"
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /
                    port: 8080
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 1
              readiness: *probes
        initContainers:
          init-hass-config:
            image:
              repository: ghcr.io/charming-byte/init-base
              tag: sandbox@sha256:0b805ad4e7926ceff55b1cd725c3541e4a3637d9c219ed71c94de7ecb30fcd83
            envFrom: *envFrom
            command:
              - /bin/bash
              - -c
              - |
                if [ ! -s /config/configuration.yaml ]; then
                  echo "Initializing configuration.yaml"
                  envsubst < /defaults/configuration.yaml > /config/configuration.yaml
                else
                  echo "configuration.yaml already exists, skipping init"
                fi
          init-db:
            envFrom: *envFrom
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: 8123
            primary: true
          code-server:
            port: 8080
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/name: "Home Assistant"
          gethomepage.dev/icon: home-assistant.png
          gethomepage.dev/description: "Open Source Home Automation"
          gethomepage.dev/widget.type: homeassistant
          gethomepage.dev/widget.url: http://home-assistant.default.svc.cluster.local:8123
          gethomepage.dev/widget.key: "{{`{{HOMEPAGE_VAR_HASS_API_KEY}}`}}"
          gethomepage.dev/widget.fields: "people_home, lights_on"
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - hass.${SECRET_DOMAIN}
        parentRefs:
          - name: envoy-internal
            namespace: network
      code-server:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: "Development"
          gethomepage.dev/name: "Code Server"
          gethomepage.dev/icon: code-server.png
          gethomepage.dev/app: code-server
          gethomepage.dev/namespace: default
          gethomepage.dev/description: "Remote Development Machine"
    persistence:
      config:
        globalMounts:
          - path: /defaults/configuration.yaml
            subPath: configuration.yaml
        name: home-assistant-configmap
        type: configMap
      app:
        storageClass: local-hostpath
        size: 5Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /config
      config-cache:
        storageClass: local-hostpath
        size: 5Gi
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /config/.venv
      tmp:
        type: emptyDir
      sshkey:
        enabled: true
        type: secret
        name: home-assistant-secret
        items:
          - key: id_rsa
            path: id_rsa
        defaultMode: 256
        globalMounts:
          - path: /root/.ssh
            readOnly: true