---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly-operator
spec:
  chartRef:
    kind: OCIRepository
    name: dragonfly
  install:
    remediation:
      retries: 3
  interval: 1h
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      dragonfly-operator:
        containers:
          app:
            args:
              - "--health-probe-bind-address=:8081"
              - "--metrics-bind-address=:8080"
            command: [/manager]
            image:
              repository: ghcr.io/dragonflydb/operator
              tag: v1.3.1@sha256:7410dc31c05bca2c0648fca232f2300b897f8d77f001c19d75c9647f830d768b
            probes:
              liveness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                  timeoutSeconds: 1
              readiness:
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: [ALL]
              readOnlyRootFilesystem: true
        pod:
          securityContext:
            runAsGroup: 65534
            runAsNonRoot: true
            runAsUser: 65534
          topologySpreadConstraints:
            - labelSelector:
                matchLabels:
                  app.kubernetes.io/name: dragonfly-operator
              maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
        replicas: 1
        strategy: RollingUpdate
    service:
      app:
        controller: dragonfly-operator
        ports:
          http:
            port: 8081
          metrics:
            port: 8080
    serviceAccount:
      dragonfly-operator: {}
    serviceMonitor:
      app:
        endpoints:
          - interval: 1m
            path: /metrics
            port: metrics
            scheme: http
            scrapeTimeout: 10s
        serviceName: dragonfly-operator
