# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns
  interval: 1h
  values:
    controllers:
      external-dns:
        containers:
          app:
            image:
              repository: registry.k8s.io/external-dns/external-dns
              tag: v0.20.0
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            args:
              - --registry=txt
              - --txt-prefix=external-dns-
              - --txt-owner-id=k8s
              - --provider=rfc2136
              - --rfc2136-host=192.168.1.1
              - --rfc2136-port=5302
              - --rfc2136-zone=${SECRET_DOMAIN}
              - --rfc2136-tsig-secret=${RFC_SECRET}
              - --rfc2136-tsig-secret-alg=hmac-sha256
              - --rfc2136-tsig-keyname=externaldns-key
              - --rfc2136-tsig-axfr
              - --source=gateway-httproute
              - --source=service
              - --domain-filter=${SECRET_DOMAIN}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: 8080
                    path: /healthz
                  initialDelaySeconds: 10
                  timeoutSeconds: 5
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              runAsNonRoot: true
              capabilities:
                drop: ["ALL"]
            resources:
              limits:
                memory: 64Mi
              requests:
                cpu: 10m
        strategy: RollingUpdate
    defaultPodOptions:
      securityContext:
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534