---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: adguard-dns
spec:
  interval: 1h
  path: ./kubernetes/apps/network/adguard-dns/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  dependsOn:
    - name: onepassword-connect
      namespace: kube-system
  postBuild:
    substituteFrom:
      - name: cluster-secrets
        kind: Secret
  wait: false