---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: plex
  namespace: media
spec:
  components:
    - ../../../../components/nfs-scaler
  dependsOn:
    - name: intel-gpu-resource-driver
      namespace: kube-system
    - name: openebs
      namespace: openebs-system
  interval: 1h
  path: ./kubernetes/apps/media/plex/app
  postBuild:
    substitute:
      APP: plex
    substituteFrom:
      - kind: Secret
        name: cluster-secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: false
